@use '../scss' as *;

main{
  margin-top: 4em;

  &.marginTop{
    margin-top: 194px;
  }

  & .container{
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;

    & > *{
      flex: 1;
    }

    & h1.title{
      font-size: 1.75rem;
      text-align: left;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin: 0;
    }

    & p{
      color: rgb(151, 150, 150);
      margin: 0;
      font-size: 1.1rem;
    }

  }
}

@media screen and (max-width: 992px) {
  main{
    margin-top: 1em;
    &.marginTop{
      margin-top: 6.7em;
    }
  }
}