@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

//Font
$main-font-family: 'Aleo', serif;
$light: 300;
$regular: 400;
$bold: 700;

// Colours
$white: #fff;


// // button bars
// $bar-width: 32px;
// $bar-height: 4px;
// $bar-spacing: 10px;
